

body {
  @apply font-sans;
  background: linear-gradient(to right, #3B82F6, #7C3AED);

}
:root{
  --Text-Color: #DCDDE1;
  --Primary-Color: #FF204E;
  --Special-Color: #FF9B50;
  --Highlight-Color: #E25E3E;
  --Background-Color: linear-gradient(to right, #008080, #00BFAE, #6A1B9A, #9C27B0); ;

  
}
